*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body {
    background: url('../media_folder/shop-boutique-store-sale.jpg') center/cover fixed no-repeat;
}
.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0,0,0.1);
    margin-top: 200px;

}
h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1.6rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #db9ad0;
}
button:hover{
    background: rgba(143, 17, 122, 0.877);
}
input:focus{
    border: 1px solid rgb(192,192,192);
}
.terms{
    margin-top: 1rem;
    width: 100%;
    color: rgb(43, 108, 110);
    font-weight: bold;
}
.terms input{
    cursor: pointer;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.member a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}